.grid {
  width: 400px;
  height: 600px;
  background-image: url(background.png);
  position: relative;
  font-size: 200px;
  text-align: center;
}

.doodler {
  object-fit: contain;
  width: 85px;
  height: 85px;
  position: absolute;
  background-image: url(doodler-guy.png);
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url(platform.png);
  position: absolute;
}
